@import './base.css';
@import "tailwindcss";

@layer base {
  :root {
    --color-primary:      56  68  77;
    --color-secondary:   172 170 165;
    --color-accent:       64 180 191;
    --color-background:  248 250 252;
    --color-text:         44  49  58;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary:      30  34  42;
      --color-secondary:    95  90  90;
      --color-accent:       64 180 191;
      --color-background:   18  23  34;
      --color-text:        226 228 231;
    }
  }
}

@layer utilities {
  .bg-primary      { background-color: rgb(var(--color-primary)); }
  .bg-secondary    { background-color: rgb(var(--color-secondary)); }
  .bg-accent       { background-color: rgb(var(--color-accent)); }
  .bg-background   { background-color: rgb(var(--color-background)); }

  .text-primary    { color: rgb(var(--color-primary)); }
  .text-secondary  { color: rgb(var(--color-secondary)); }
  .text-accent     { color: rgb(var(--color-accent)); }
  .text-default    { color: rgb(var(--color-text)); }

  .hover\:bg-primary:hover    { background-color: rgb(var(--color-primary)); }
  .hover\:bg-secondary:hover  { background-color: rgb(var(--color-secondary)); }
  .hover\:bg-accent:hover     { background-color: rgb(var(--color-accent)); }
  .hover\:text-accent:hover   { color: rgb(var(--color-accent)); }
  .hover\:text-primary:hover  { color: rgb(var(--color-primary)); }
}
